.main-nav {
	background-color: gray !important;
}

.nav-link {
	border-left: 1px solid !important;
	border-right: 1px solid !important;
	border-radius: 0px !important;
	font-weight: 400 !important;
	letter-spacing: 2px !important;
	padding-left: 2em !important;
	padding-right: 2em !important;
	margin: 0em !important;
}
