@font-face {
	font-family: NotJustGroovy;
	src: url(../assets/fonts/NotJustGroovy.ttf);
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 100%;
}

.page {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	font-family: 'NotJustGroovy';
	color: white;
	min-height: 100%;
}

.left-logo {
	margin-left: 1em;
}

.client-portal {
	float: right;
}

.main-nav {
	background-color: gray !important;
	border: 0.1em solid white;
}

.nav-link {
	border-left: 1px solid !important;
	border-right: 1px solid !important;
	font-family: 'NotJustGroovy', sans-serif !important;
	font-weight: 800 !important;
	letter-spacing: 2px !important;
	padding-left: 2em !important;
	padding-right: 2em !important;
	margin: 0em !important;
}

.logo {
	padding-top: 10px;
	position: relative;
	cursor: pointer;
	width: 50%;
}

.container.narrow {
	max-width: 56rem;
}

.container {
	margin: 0 auto;
	max-width: 64rem;
}

@media (min-width: 40rem) {
	html {font-size: 112%;}
	.column {
		float: left;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.column.full {width: 100%;}
	.column.two-thirds {width: 66.7%;}
	.column.half {width: 50%;}
	.column.third {width: 33.3%;}
	.column.fourth {width: 25%;}
	.column.flow-opposite {float: right;}
}

@media (min-width: 64rem) {
	html {font-size: 120%}
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear:both;
}

md-dialog-content {
	padding: 1em;
}