<md-dialog aria-label="New Message">
	<md-dialog-content layout="column">
		<h3>New Message</h3>
		<md-input-container>
			<label>Name</label>
			<input type="text" ng-model="modal.client.name" required>
		</md-input-container>
		<md-input-container>
			<label>Email</label>
			<input type="email" ng-model="modal.client.email" required>
		</md-input-container>
		<md-input-container>
			<label>Message</label>
			<input type="text" ng-model="modal.client.message" required>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button class="md-primary" ng-click="modal.pushMessage()">Submit</md-button>
	</md-dialog-actions>
</md-dialog>