<section class="hero-content">
	<h1 class="hero-title"> {{ home.heroTitle }} </h1>
</section>

<main class="selling-points container clearfix">
	<section class="point column third">
		<span class="ion-android-alarm-clock"></span>
		<h5 class="point-title">Be a Heathen</h5>
		<p class="point-description">There's hardly enough of them!</p>
	</section>
	<section class="point column third">
		<span class="ion-alert"></span>
		<h5 class="point-title">Unadulterated, 100% Heathenry</h5>
		<p class="point-description">No arbitrary limits or distraction</p>
	</section>
	<section class="point column third">
		<i class="ion-archive"></i>
		<h5 class="point-title">Mobile enabled</h5>
		<p class="point-description">Heathen on the go!</p>
	</section>
</main>