<md-content class="hero-content" layout="row" layout-align="start center">
	<span flex></span>
	<div class="main-logo">
		<img src="assets/images/main_triangle_logo.png">
	</div>
	<div layout="column">
		<div class="hero-title">A SOLUTION</div>
		<div class="hero-title title-2">THAT F<span class="hollow-text">IT</span>S</div>
		<div class="hero-text">FITS believes that a proactive approach to IT is the best way to maintain effective and reliable business operations, while simultaneously saving on IT spending. Everyones knows how costly downtime can be for any business - instead of reacting, FITS works to prevent your problems before they harm your business.</div>
	</div>
	<span flex></span>
</md-content>

<md-content class="selling-points" layout="row" layout-align="center center">

	<span flex></span>

	<section class="point">
		<img class="waiter" src="assets/images/icon_1.png">
		<span flex></span>
		<p class="point-title">A-La-Carte Solutions For Flexible IT</p>
	</section>
	<section class="point">
		<img src="assets/images/icon_2.png">
		<span flex></span>
		<p class="point-title">On-Site Computer Service</p>
	</section>
	<section class="point">
		<img src="assets/images/icon_3.png">
		<span flex></span>
		<p class="point-title">Managed Anti-Virus and Anti-Spam</p>
	</section>
	<section class="point">
		<img src="assets/images/icon_4.png">
		<span flex></span>
		<p class="point-title">Backup and Disaster Recovery</p>
	</section>

	<span flex></span>
</md-content>

<md-content class="solutions-content" layout="row" layout-align="center center">
	<md-button class="solutions-button"><span >View Solutions</span></md-button>
</md-content>

<md-content class="footer-content" layout="row" layout-align="start center">
	<div layout="column">
		<div class="footer-title">FREE NETWORK</div>
		<div class="footer-title">ASSESSMENT</div>
	</div>
	<span flex></span>
	<md-button class="footer-button">Contact Us</md-button>
</md-content>

<md-content class="contact-bottom">

</md-content>