<md-content class="hero-content" layout="row" layout-align="start center">
	<span flex></span>
	<div class="main-logo">
		<img src="assets/images/main_triangle_logo.png">
	</div>
	<div layout="column">
		<div class="hero-title">WVUM</div>
	<span flex></span>
</md-content>

<md-content class="selling-points" layout="row" layout-align="center top">

	<span flex></span>

	<span flex></span>
</md-content>

<md-content class="solutions-content" layout="row" layout-align="center center">
	<md-button class="solutions-button"><span>View Solutions</span></md-button>
</md-content>

<md-content class="footer-content" layout="row" layout-align="start center">
	<div layout="column">
		<div class="footer-title">FREE NETWORK</div>
		<div class="footer-title">ASSESSMENT</div>
	</div>
	<span flex></span>
	<md-button ng-controller="ModalCtrl as modal" ng-click="modal.showContactPrompt($event)" class="footer-button">Contact Us</md-button>
</md-content>

<md-content class="contact-bottom">
	<div class="contact-box" layout="row">
		<div>
			<div class="contact-header">CONTACT US</div>
			<div class="contact-content" layout="row" layout-align="start center">
				<img src="assets/images/footer_icon_1.png">
				<div class="contact-line">
					786.534.7088
				</div>
			</div>
			<div class="contact-content" layout="row" layout-align="start center">
				<img src="assets/images/footer_icon_2.png">
				<div class="contact-line">
					support@forwarditsolutions.net
				</div>
			</div>
			<div class="contact-content" layout="row" layout-align="start center">
				<img src="assets/images/footer_icon_3.png">
				<div class="contact-line">
					forwarditsolutions.net
				</div>
			</div>
		</div>
		<span flex></span>
		<div>
			<div class="contact-header">GET UPDATES FROM FITS</div>
			<div layout="row" layout-align="end center">
				<md-input-container class="email-input">
					<label>Enter Your Email</label>
					<input ng-model="user.email">
				</md-input-container>
				<md-button ng-controller="ModalCtrl as modal" ng-click="modal.pushMessage()" class="newsletter-button">Submit</md-button>
			</div>
		</div>
	</div>
	<div class="social-bar" layout="row">
		<div class="llc-line">&copy; 2016 Forward IT Solutions, LLC All Rights Reserved.</div>
		<span flex></span>
		<div class="social-buttons">
			<img src="assets/images/footer_icon_fb.png">
			<img src="assets/images/footer_icon_twitter.png">
			<img src="assets/images/footer_icon_linkedin.png">
		</div>
	</div>
</md-content>
